@import url('https://fonts.googleapis.com/css2?family=Calluna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brandon+Grotesque:wght@400;700&display=swap');

.iframe-hover-effect:hover {
    box-shadow: 0 4px 8px rgb(232, 17, 224, 0.7);
    /* Shadow effect on hover */
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

h4 {
    font-family: 'Calluna';
    text-align: justify;
}